@import "tailwindcss";

@font-face {
	font-family: "Primary";
	src: local("@/fonts/Primary.ttf");
}
:root {
	/* --font-family-first : 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif; */
	font-family: "Primary", sans-serif;
	--default-border-radius: 20px;
}

body {
	width: 100%;
	height: 100vh;
	margin: 0;
}
ul {
	margin-block-end: 0;
	margin-block-start: 0;
	list-style: none;
	padding-inline-start: 0;
	padding-inline-end: 0;
}

.page {
	position: relative;
	min-height: 100vh;
	background-color: var(--color-gray-100);
}
.header-after {
	display: flex;
	justify-content: center;
	/* padding-left: clamp(0px, (100vw - 600px) * 0.5, 50px);
    padding-right: clamp(0px, (100vw - 600px) * 0.5, 50px); */
	/* padding: 60px 5% 0 5%; */
	padding-top: 60px;
	/* padding-top:60px; */
}
.side-after {
	z-index: 5;
	display: flex;
	justify-content: center;
	min-width: 960px;
	max-width: 960px;
	/* padding: 0 20% 0 20%; */
}
.feed {
	position: static;
	margin-top: 20px;
	border-radius: var(--default-border-radius);
	/* min-width:960px; */
	min-width: 90%;
	max-width: 90%;

	background-color: var(--color-gray-100);
	/* padding: 5% 5% 0 5%; */
	min-height: calc(100vh - 80px);
}

/* 
@media (max-width:1200px){
    .side-after{
        padding: 0 10% 0 10%;
    }
} */
