.header{
    position:fixed;
    background-color: var(--color-white-900);
    width:100%;
    height:60px;
    font-family:'primary';
    font-size:15pt;
    font-weight:600;
}
.header-ul{
    padding-left: clamp(0px, (100vw - 600px) * 0.5, 100px);
    padding-right: clamp(0px, (100vw - 600px) * 0.5, 100px);

    display:flex;
    height:100%;
    align-items: center;
}

.header-element{
    
    width:100px;
    height: 100%;
    align-content: center;
}


.header-element:last-child{
    margin-left: auto;  
}

.hero-layout{
    padding-left: clamp(0px, (100vw - 600px) * 0.5, 50px);
    padding-right: clamp(0px, (100vw - 600px) * 0.5, 50px);
}

.page{
    min-height:100vh;
    background-color: var(--color-gray-200);
}