.post{
    background-color: var(--color-gray-600);    
}
.post::before{
    padding-top: 100%;
    display:block;
}


.image-grid{
    background-color: var(--color-gray-200);   
    display:flex;

}
.image{
    background-color: aqua;
    display:block;
    width:25%;
    height:25%;
}
