.background-image-layout{
    width:100%;
    position: relative;
}
.background-image-layout::before{
    position: relative;

    content: '';
    display:block;
    padding-top: 25%;
    z-index: index 2;
}
.background-image{
    top:0;
    /* height:14%; */
    /* padding-top:25%; */
    width:100%;
    position: absolute;
    height: 25%;
    display:inline-block;
}
.background-image::before{
    border-radius: var(--default-border-radius);
    content: '';
    display:block;
    padding-top: 25%;
    z-index: index 2;
    background-color: var(--color-blue-200);
}
.profile-layout{
    position: relative;
    z-index : index 1;
}
.profile-image{
    /* width:23%; */
    /* display:inline; */
    /* padding-top:23%; */    
    width:23%;
    height: 92%;
    margin: 1% 1% 1% 1%;
    border-radius: 100%;
    position: absolute;
    top:0;
    z-index: 3;
    background-color: var(--color-purple-400);
}
.profile-image-trace{
    width:25%;
    /* display:inline; */
    padding-top:25%;
    border-radius: 100%;
    position: absolute;
    top:0;
    z-index: 2;
    background-color: white;
}

.buttons-on-image{

    z-index: index 3;
    /* background-color: var(--color-yellow-200); */
    width:40%;
    height:50px;
    position:absolute;
    right:0;
    top:0;
}
/* .buttons-on-image::before{
    content:'';
} */

.button-add-friend{
    background-color: white;
    /* color:var(--color-gray-600); */
    color:black;
    font-variant-caps: small-caps;
    width:40%;
    height:60%;
    margin: 0 5% 0 5%;
    border-radius: 0% 0% 30% 30%;
}
.button-send-message{
    float:right;
    border-radius: 0% 0% 30% 30%;
    background-color: white;
    width:40%;
    margin: 0 5% 0 5%;
    /* margin: 5% 0 5% 0; */
    height:60%
}
.short-info{
    background-color: white;
    font-weight: 500;
    font-size: 18pt;
    color:black;
    z-index: index 9;
    position: absolute;
    margin-left: 30%;
    margin-top:calc(50% * 0.25);
    height: 200%;
    width:70%;
    border-radius: var(--default-border-radius);
    
    /* margin-bottom:calc(50%*0.25);    */
    top:0;
}
.name{
    background-color: white;
    z-index: inherit;
    border-radius: 30px 30px 30px 0px;
    width: max-content;
    padding-right:10px;
    padding-left:10px;
}
.surname{
    width:min-content;
    border-radius: 0px 30px 30px 30px;
    background-color: white;
    padding-left:10px;
    padding-right:10px;
    z-index: inherit;
}

.media{
    margin-top:10px;
    width: calc(60% - 30px);
    background-color: white;
    border-radius: var(--default-border-radius);   
}
.media-layout{
    position: relative;
    padding: 15px 15px 15px 15px;
}
.media-buttons-ul{
    display: flex;
}
.media-button{
    cursor: pointer;
    font-size: 15pt;
    font-weight: 500;
    padding: 1px 5px 1px 5px;
    transition: background-color 0.2s;
    border-radius:5px;
}
.media-button:hover{
    background-color: var(--color-gray-100);
}
.selected-btn{
    color: var(--color-indigo-500)
}
.unselected-btn{
    color: var(--color-gray-500)
}
.media-content{
    padding-top:10px;
}
.media-content-photos{
    display:grid;
    grid-template-columns: repeat(3,calc(33% - 4px/3) ); 
    gap: 2px;   
}
.grid-element{
    border: 1px solid var(--color-gray-500);
    border-radius:1px;
    box-sizing: border-box;
    background-color: var(--color-gray-200);
    width:100%;
    aspect-ratio: 1/1;
}
@media (min-width:1200px){
    
}